/* Fonts */
$font-stack-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-global: 'Nunito', $font-stack-system;
$font-stack-expr: 'Gugi', $font-stack-global;

/* Font Sizes */
$font-size-global: 1.225rem;

/* Palette */
$palette-yellow: #F5C542;
$palette-white: #FAF3EB;
$palette-pink: #EC368D;
$palette-blue: #4A5899;
$palette-black: #403F4C;
$palette-green: #2FA951;

/* Colors */
$color-border-global: #000;
$color-tray-bg: $palette-black;
$color-menu-button-bg: $palette-yellow;

/* Misc */
$border-radius-global: 0.5rem;
$border-radius-pill: 2rem;
$border-width-global: 0.25rem;
$height-tray: 5rem;
$height-toolbox-body: 20rem;

/* Mixins */
@mixin stripe-background ($base-color, $dark-color: null) {
    @if ($dark-color ==null) {
        $dark-color: darken($base-color, 30%);
    }

    background-image: linear-gradient(135deg,
        $base-color 25%, $dark-color 25%,
        $dark-color 50%, $base-color 50%,
        $base-color 75%, $dark-color 75%,
        $dark-color 100%);
    background-size: 98.99px 98.99px;
}